:root {
--primary-color: rgb(55, 8, 85);
--secondary-color: rgb(39, 80, 123);
--tertiary-color: rgb(31, 120, 122);
--quaternary-color: rgb(52, 178, 98);
--quinary-color: rgb(171, 219, 32);
}

body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

.hero-image {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.home .hero-image {
    height: 400px;
}

.page .hero-image {
    height: 280px;
}

#map {
width: 50%;
height:600px; /* Adjust as needed */
float: right;
}

.navbar {
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.nav-item {
    margin: 0 20px;
    font-size: 14pt;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.center-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}