:root {
    --primary-color: rgb(55, 8, 85);
    --secondary-color: rgb(39, 80, 123);
    --tertiary-color: rgb(31, 120, 122);
    --quaternary-color: rgb(52, 178, 98);
    --quinary-color: rgb(171, 219, 32);
}

body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    background-color: #EBE8E4;
}

h1 {
    font-size: 5vw;
    color: white;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}

h3 {
    font-size: 18px;
    font-weight: 200;
    color: white;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}

.hero-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #EBE8E4; 
    overflow: hidden;
}

.hero-text-box {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 0; /* Start from the left */
    transform: translateY(-50%); /* Adjust for vertical centering only */
    background-color: rgba(0, 0, 0, 0.7);
    width: 60vw; /* Occupy 60% of the viewport width */
    height: 50%; /* Always 50% of the hero image's height */
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden; /* Hide any overflow content */
}

.hero-text-box h1 {
    font-size: clamp(1rem, 5vw, 3rem); /* Adjustable between 16px (1rem) and 48px (3rem) based on viewport width */
    color: white;
    line-height: 1.2;
    margin: 0;
    text-align: left; /* Align text to the left */
}

.black-bar {
    width: 100%;
    height: 20px;
    background-color: black;
    position: absolute;
    bottom: 0; /* Aligns the black bar to the bottom of the hero image */
    left: 0;
}

#map {
    width: 50%;
    height: 600px;
    float: right;
}

.navbar {
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.nav-item {
    margin: 0 20px;
    font-size: 12pt;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.center-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.site-footer {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: white;
}

.footer-nav ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px; /* Space between each link */
}

.footer-nav a {
    color: white;
    text-decoration: none; /* Remove underline from links */
    font-size: 1rem; /* Adjust font size as needed */
}

/* CONTAINERS FOR HOME PAGE NAV BOXES */
.home-nav-container {
    display: flex;
    justify-content: center; /* Center all boxes width-wise */
    gap: 60px; /* Space between each box */
    padding-top: 60px;
    padding-bottom: 100px;
}

.info-box {
    background-color: black;
    width: 280px;
    height: 450px;
    position: relative;
    border-radius: 20px;
}

.textbox {
    color: white;
    position: absolute;
    top: 0;
    text-align: left;
    padding: 30px;
}

.info-box h2 {
    font-size: 24px;
    color: white;
    line-height: 1.2;
    margin: 10;
    text-align: left; /* Align text to the left */
    padding-top: 20px;
    padding-bottom: 30px;
}

/****************************** FIRE SEVERITY PAGE ******************************/ 

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    font-size: 1em;
    color: #000;
    background-color: #FFFDFF;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #f1f1f1;
}

.status-message {
    margin-left: 10px;
    font-size: 1em;
    vertical-align: middle;
}